*{
    font-family: montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#bfe4f3;
}
.section-padding{
    padding: 50px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: "";
    position: absolute;
    width: 1002px;
    height: 1002px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.356);
    z-index : 1;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color:black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background: lightgray;
    border-radius: 5px;
    color: black;
}
.benifit-card {
    height: 200px;
    text-align: center;
    box-shadow: 0 3px 10px lightgrey;
    border: none;
    margin: 10px;
    justify-content: center;
}

.benifit-card-body {
    background-color: goldenrod;
    color: white;

}
.benifit-card-body:hover{
    color: rgb(84, 1, 1);
    background-color: lightgoldenrodyellow;
}
.imgs img {

    width: 70%;
    height: 450px;
    object-fit: cover;

}


.card-main{
    padding: 20px;
    display:flex;
    justify-content: center;
}

.card-product {
    text-align: center;
    box-shadow: lightgray;
}
.card-product img{
    height: 200px;
    padding: 5px;
}
.card-product-body{
    height: 320px;
}

.card-product:hover{
    background-color: rgba(255, 0, 0, 0.562);
    color: lightgrey;
    font-size: 17px;

}
.testimony-main{
    height: 400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    
}
.testimony-main img{
    height: 200px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    
}

.testimony-body{
    height: 320px;

}




.testimony-main:hover .testimony-body{
    background-color: blueviolet;
    color: lightgrey;
    font-size: 17px;
}
.contact-us{
    background:lightgray;
    height: 500px;
    }
    .contact-us h1{
        color:peru;
        padding: 20px 0;
    }
    .contact-us-form{
            width: 80%;
            margin: 0 auto;
            height: 400px;
            backdrop-filter: blur(5px);
            border-radius: 5px;
    }
    form{
        width: 70%;
        margin: 0 auto;
    }
    .forms{
        padding: 10px;
    }
    
    input{
        height: 40px;
        border-radius: 5px; 
        border: 1px solid blue;
        background: none;
        width: 90%;
        padding: 0 10px;
    }
    
    ::placeholder{
        color: rgb(17, 1, 1);
    }
    
    .s-btn{
        width: 30%;
        border: 1px solid blue;
        color: rgb(164, 75, 75);
        height: 40px;
    }
    
    .s-btn:hover{
        background-color: rgb(105, 66, 66);
        color: rgb(237, 218, 193);
    }
    















.w-100{
    height: 100vh;
}
.services .card-body i{
    font-size: 50px;
}








@media only screen and (min-width:768px) and (max-width:991px) {
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
    .img-area img{
        width:100%;
    }
    
}
@media only screen and(max-width:767px){
    .navbar-nav{
        text-align:center;
    }
    .carousel.caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
      .carousel-caption p{
         width: 100px;
         line-height: 1.6;
         font-size: 12px;
}
.about-text{
        padding-top: 50px;
    }
    .card{
        margin-bottom: 30px;
    }
}
